# Задание 1

In [2]:
import pandas as pd
import numpy as np

In [2]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [3]:
keywords = pd.read_csv('ml-latest-small/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [4]:
def geo(row):
    for x, y in geo_data.items():
        for y in geo_data[x]:
            if y in row['keyword']:
                return x
    return 'undefined'

In [5]:
keywords['region'] = keywords.apply(geo, axis=1)
keywords['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

# Задание 2

In [3]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
def sorting(row):
    if row['rating'] <= 2:
        return 'низкий'
    if row['rating'] <= 4:
        return 'средний'
    if row['rating'] >= 4:
        return 'высокий'

In [8]:
ratings['class'] = ratings.apply(sorting, axis=1)
ratings['class'].value_counts()

средний    65551
высокий    21762
низкий     13523
Name: class, dtype: int64

In [9]:
ratings.head()

   userId  movieId  rating  timestamp    class
0       1        1     4.0  964982703  средний
1       1        3     4.0  964981247  средний
2       1        6     4.0  964982224  средний
3       1       47     5.0  964983815  высокий
4       1       50     5.0  964982931  высокий

# Задание 3

In [26]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [27]:
filtered_id = ratings.groupby('userId').count()
filtered_id = filtered_id[filtered_id['movieId'] > 100].reset_index()

In [28]:
filtered_time = ratings[ ratings['userId'].isin(filtered_id['userId'].tolist()) ]
filtered_time = filtered_time.groupby('userId').agg(['min', 'max'])['timestamp']
filtered_time['Lifetime'] = filtered_time['max'] - filtered_time['min']
filtered_time['Lifetime'] = filtered_time['Lifetime'] / 86400

In [29]:
Lifetime = filtered_time['Lifetime'].agg(['mean'])
Lifetime

mean    463.894762
Name: Lifetime, dtype: float64